.saffron{
    background-color: orange;
    
    width: 600px;
    height: 100px;
    
}
.white{
    background-color: white;
    border: 1px solid black;
    
    width: 600px;
    height: 100px;
    

}
.chakra{
    background-color: blue;
    width: 100px;
    height:100px;
    border-radius: 50%;
    position: absolute;
    left: 250px;
}
.green{

    background-color: green;
    width: 600px;
    height: 100px;
    
}
img{
    width: 100px; 
    height: 100px;
    border-radius: 50%;

}


#r{
    text-align: center;
    position: relative;
    top: 40px;
    padding: 0;
    margin: 0;
    font-family: "Gajraj One", sans-serif;
    font-size: 2rem;
}
#i{
    text-align: center;
    position: relative;
    top: 30px;
    padding: 0;
    margin: 0;
    font-family: "Gajraj One", sans-serif;
    font-size: 2rem;
}
